/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: white;
}

TextField {
    -fx-background-color: #EEE;
}

.label {
    -fx-font-size: 20px;
}

.titulo{
    -fx-font-size: 25px;
}